<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.orson.mybatis.v1.app.mapper.PersonMapper">
    <resultMap type="org.orson.mybatis.v1.app.Person" id="person">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>


    <select id="findPersonByName" resultMap="person">
        SELECT id, name, age from person where name = #{name}
    </select>

    <select id="findPersonByAge" resultMap="person">
        select id, name, age from Person where age = #{age}
    </select>


</mapper>